<style>

    body{
        background: #161625;
    }
   
    .Layout{
        -webkit-tap-highlight-color: transparent;
    color: #bdbdbd;
    font-family: "archia";
    position: relative;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    margin:  0 auto;
    }
    .Level{
        display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  0 auto ;
    }
    .Level .level-item{
    background-color: #16162550;
    -webkit-tap-highlight-color: transparent;
    color: #bdbdbd;
    font-family: "archia";
    align-self: stretch;
    text-align: center;
    justify-content:center;
    margin: 0rem;
    opacity: 1; 
    background: #7373a550;
    border-radius: 2rem;
    
    }
    #conf:hover{
        background-color: #ff07303a;
    }
    #act:hover{
background-color:#007bff57;
    }
    #dea:hover{
background-color:#6c757d69;
    }
    #rec:hover{
background-color:rgba(40, 167, 70, 0.205)
    }

</style>
<div class="Layout row  m-0" style="position: relative; margin-top: 1rem;">

    {{#if data}}

    <div class="Level row container-login100">
         
        <div class="col-12 col-sm-6 col-md-3" >
            <div id="conf" class="p-2 pt-5 mt-2 mb-2 level-item is-confirmed fadeInUp" style="animation-delay: 750ms;    color: #ff073a;">
            <h5>Confirmed</h5>
            <h4>+1</h4>
            <h1 class="login100-form-title" style="color: #ff073a;">{{data.cases}}</h1>
        <div class="p-3 m-3 svg-parent"><svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#ff073a99" stroke-width="2.5"
                    d="M5,10.761263881544158C6.416666666666667,10.455592279217344,7.833333333333333,10.149920676890531,9.25,10.149920676890531C10.666666666666666,10.149920676890531,12.083333333333334,12.944275515600209,13.5,14.704177683765202C14.916666666666666,16.464079851930194,16.333333333333332,20.709333685880488,17.75,20.709333685880488C19.166666666666668,20.709333685880488,20.583333333333332,16.24391856160762,22,15.009016393442625C23.416666666666668,13.77411422527763,24.833333333333332,13.156663141195132,26.25,13.156663141195132C27.666666666666668,13.156663141195132,29.083333333333332,14.869090428344789,30.5,15.38548387096774C31.916666666666668,15.90187731359069,33.333333333333336,16.13841882601798,34.75,16.25502379693284C36.166666666666664,16.3716287678477,37.583333333333336,16.313326282390268,39,16.429931253305128C40.416666666666664,16.546536224219988,41.833333333333336,17.034056054997354,43.25,18.24230565838181C44.666666666666664,19.450555261766265,46.083333333333336,24.86380222104707,47.5,24.86380222104707C48.91666666666667,24.86380222104707,50.333333333333336,20.003040719196193,51.75000000000001,18.53381808566896C53.16666666666667,17.064595452141727,54.583333333333336,16.04846641988366,56,16.04846641988366C57.416666666666664,16.04846641988366,58.833333333333336,17.163432046536226,60.25,17.354442094130093C61.666666666666664,17.54545214172396,63.083333333333336,17.64095716552089,64.5,17.64095716552089C65.91666666666667,17.64095716552089,67.33333333333333,16.68646218931782,68.75,16.68646218931782C70.16666666666667,16.68646218931782,71.58333333333333,17.848625066102592,73,19.45832892649392C74.41666666666667,21.068032786885247,75.83333333333333,26.344685351665788,77.25,26.344685351665788C78.66666666666667,26.344685351665788,80.08333333333333,20.289555790586988,81.5,20.289555790586988C82.91666666666667,20.289555790586988,84.33333333333333,22.250185087255424,85.75,22.250185087255424C87.16666666666667,22.250185087255424,88.58333333333333,16.125092543627712,90,10"
                    stroke-dasharray="121.38433837890625" stroke-dashoffset="0"></path>
                <circle fill="#ff073a" r="2.5" cx="90" cy="10" style="opacity: 1;"></circle>
            </svg></div></div>
        </div>
        <div class=" col-12 col-sm-6 col-md-3" >
            <div id="act" class="p-2 pt-5 mt-2 mb-2 level-item is-active fadeInUp" style="  animation-delay: 1000ms;color: #007bff;">
            <h5>Active</h5>
            <h4>&nbsp;</h4>
            <h1 class="login100-form-title" style="color:#007bff;">{{data.active}}</h1>
                    <div class="p-3 m-3 svg-parent"><svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#007bff99" stroke-width="2.5"
                    d="M5,45.94380403458213C6.416666666666667,45.64121037463977,7.833333333333333,45.33861671469741,9.25,45.200288184438044C10.666666666666666,45.06195965417868,12.083333333333334,44.99279538904899,13.5,44.99279538904899C14.916666666666666,44.99279538904899,16.333333333333332,68.61671469740635,17.75,68.61671469740635C19.166666666666668,68.61671469740635,20.583333333333332,53.27665706051874,22,50.288184438040346C23.416666666666668,47.299711815561956,24.833333333333332,46.930115273775215,26.25,45.805475504322764C27.666666666666668,44.680835734870314,29.083333333333332,43.54034582132565,30.5,43.54034582132565C31.916666666666668,43.54034582132565,33.333333333333336,48.12896253602306,34.75,49.47982708933718C36.166666666666664,50.830691642651296,37.583333333333336,51.64553314121037,39,51.64553314121037C40.416666666666664,51.64553314121037,41.833333333333336,44.538904899135446,43.25,44.538904899135446C44.666666666666664,44.538904899135446,46.083333333333336,73,47.5,73C48.91666666666667,73,50.333333333333336,57.14409221902017,51.75000000000001,57.14409221902017C53.16666666666667,57.14409221902017,54.583333333333336,62.919308357348704,56,62.919308357348704C57.416666666666664,62.919308357348704,58.833333333333336,57.38904899135447,60.25,56.236311239193085C61.666666666666664,55.0835734870317,63.083333333333336,55.65994236311239,64.5,54.50720461095101C65.91666666666667,53.35446685878962,67.33333333333333,49.25360230547551,68.75,47.12391930835735C70.16666666666667,44.99423631123919,71.58333333333333,41.72910662824207,73,41.72910662824207C74.41666666666667,41.72910662824207,75.83333333333333,72.29106628242074,77.25,72.29106628242074C78.66666666666667,72.29106628242074,80.08333333333333,44.361671469740635,81.5,44.361671469740635C82.91666666666667,44.361671469740635,84.33333333333333,53.737752161383284,85.75,53.737752161383284C87.16666666666667,53.737752161383284,88.58333333333333,51.018731988472624,90,48.29971181556196"
                    stroke-dasharray="242.31846618652344" stroke-dashoffset="0"></path>
                <circle fill="#007bff" r="2.5" cx="90" cy="48.29971181556196" style="opacity: 1;"></circle>
            </svg></div></div>
        </div>

        <div class=" col-12 col-sm-6 col-md-3" >
            <div id="rec" class="p-2 pt-5 mt-2 mb-2 level-item is-recovered fadeInUp" style="animation-delay: 1250ms;color: rgba(40,167,69,.6);}">
            <h5>Recovered</h5>
            <h4><svg aria-hidden="true" role="img" class="octicon" viewBox="0 0 16 16" width="9" height="9"
                    fill="currentColor" style="display: inline-block; user-select: none; vertical-align: 2px;" >
                    <path fill-rule="evenodd"
                        d="M7.655 14.916L8 14.25l.345.666a.752.752 0 01-.69 0zm0 0L8 14.25l.345.666.002-.001.006-.003.018-.01a7.643 7.643 0 00.31-.17 22.08 22.08 0 003.433-2.414C13.956 10.731 16 8.35 16 5.5 16 2.836 13.914 1 11.75 1 10.203 1 8.847 1.802 8 3.02 7.153 1.802 5.797 1 4.25 1 2.086 1 0 2.836 0 5.5c0 2.85 2.045 5.231 3.885 6.818a22.075 22.075 0 003.744 2.584l.018.01.006.003h.002z">
                    </path>
                </svg></h4>
            <h1 class="login100-form-title" style="color: rgba(40,167,69,.6);">{{data.recovered}}</h1>
            <div  class="p-3 m-3 svg-parent"><svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#28a74599" stroke-width="2.5"
                    d="M5,11.663770612847651C6.416666666666667,11.494757568299287,7.833333333333333,11.325744523750922,9.25,11.325744523750922C10.666666666666666,11.325744523750922,12.083333333333334,15.547969480679303,13.5,15.547969480679303C14.916666666666666,15.547969480679303,16.333333333333332,12.69335466404135,17.75,12.69335466404135C19.166666666666668,12.69335466404135,20.583333333333332,13.958626630568546,22,13.958626630568546C23.416666666666668,13.958626630568546,24.833333333333332,13.904356386906226,26.25,13.904356386906226C27.666666666666668,13.904356386906226,29.083333333333332,16.77912872261875,30.5,16.77912872261875C31.916666666666668,16.77912872261875,33.333333333333336,15.761690868816146,34.75,15.436327836573962C36.166666666666664,15.110964804331779,37.583333333333336,14.826950529165645,39,14.826950529165645C40.416666666666664,14.826950529165645,41.833333333333336,18.99645582082205,43.25,18.99645582082205C44.666666666666664,18.99645582082205,46.083333333333336,15.048683238985975,47.5,14.94324390844204C48.91666666666667,14.837804577898106,50.333333333333336,14.890524243170074,51.75000000000001,14.78508491262614C53.16666666666667,14.679645582082205,54.583333333333336,10.378341127245875,56,10.378341127245875C57.416666666666664,10.378341127245875,58.833333333333336,13.414890475018456,60.25,14.0020428254984C61.666666666666664,14.589195175978343,63.083333333333336,14.443182377553535,64.5,14.882771351218315C65.91666666666667,15.322360324883094,67.33333333333333,15.601206005414717,68.75,16.639576667487077C70.16666666666667,17.677947329559437,71.58333333333333,21.112995323652477,73,21.112995323652477C74.41666666666667,21.112995323652477,75.83333333333333,16.54809254245631,77.25,16.54809254245631C78.66666666666667,16.54809254245631,80.08333333333333,20.954836327836574,81.5,20.954836327836574C82.91666666666667,20.954836327836574,84.33333333333333,20.432291410287966,85.75,19.387201575190748C87.16666666666667,18.34211174009353,88.58333333333333,14.171055870046764,90,10"
                    stroke-dasharray="109.85696411132812" stroke-dashoffset="0"></path>
                <circle fill="#28a745" r="2.5" cx="90" cy="10" style="opacity: 1;"></circle>
            </svg></div></div>
        </div>
        <div class=" col-12 col-sm-6 col-md-3" >
            <div id="dea" class="p-2 pt-5 mt-2 mb-2 level-item is-deceased fadeInUp" style="animation-delay: 1500ms;    color: #6c757d;">
            <h5>Deceased</h5>
            <h4><svg aria-hidden="true" role="img" class="octicon" viewBox="0 0 16 16" width="9" height="9"
                    fill="currentColor" style="display: inline-block; user-select: none; vertical-align: 2px;">
                    <path fill-rule="evenodd"
                        d="M7.655 14.916L8 14.25l.345.666a.752.752 0 01-.69 0zm0 0L8 14.25l.345.666.002-.001.006-.003.018-.01a7.643 7.643 0 00.31-.17 22.08 22.08 0 003.433-2.414C13.956 10.731 16 8.35 16 5.5 16 2.836 13.914 1 11.75 1 10.203 1 8.847 1.802 8 3.02 7.153 1.802 5.797 1 4.25 1 2.086 1 0 2.836 0 5.5c0 2.85 2.045 5.231 3.885 6.818a22.075 22.075 0 003.744 2.584l.018.01.006.003h.002z">
                    </path>
                </svg></h4>
            <h1 class="login100-form-title" style="color:#6c757d;">{{data.deaths}}</h1>
            <div class="p-3 m-3 svg-parent"><svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#6c757d99" stroke-width="2.5"
                    d="M5,10C6.416666666666667,10.366812227074236,7.833333333333333,10.73362445414847,9.25,12.200873362445414C10.666666666666666,13.668122270742357,12.083333333333334,20.866812227074234,13.5,20.866812227074234C14.916666666666666,20.866812227074234,16.333333333333332,19.81222707423581,17.75,18.665938864628824C19.166666666666668,17.519650655021838,20.583333333333332,14.08078602620087,22,13.989082969432314C23.416666666666668,13.897379912663757,24.833333333333332,13.85152838427948,26.25,13.85152838427948C27.666666666666668,13.85152838427948,29.083333333333332,14.929039301310043,30.5,15.502183406113536C31.916666666666668,16.075327510917027,33.333333333333336,17.290393013100434,34.75,17.290393013100434C36.166666666666664,17.290393013100434,37.583333333333336,16.602620087336245,39,16.602620087336245C40.416666666666664,16.602620087336245,41.833333333333336,20.820960698689955,43.25,21.554585152838428C44.666666666666664,22.2882096069869,46.083333333333336,22.655021834061138,47.5,22.655021834061138C48.91666666666667,22.655021834061138,50.333333333333336,19.216157205240172,51.75000000000001,19.216157205240172C53.16666666666667,19.216157205240172,54.583333333333336,20.59170305676856,56,20.59170305676856C57.416666666666664,20.59170305676856,58.833333333333336,19.353711790393014,60.25,19.353711790393014C61.666666666666664,19.353711790393014,63.083333333333336,20.454148471615724,64.5,20.454148471615724C65.91666666666667,20.454148471615724,67.33333333333333,20.041484716157203,68.75,20.041484716157203C70.16666666666667,20.041484716157203,71.58333333333333,22.56331877729258,73,23.48034934497817C74.41666666666667,24.39737991266376,75.83333333333333,25.543668122270738,77.25,25.543668122270738C78.66666666666667,25.543668122270738,80.08333333333333,22.517467248908297,81.5,22.517467248908297C82.91666666666667,22.517467248908297,84.33333333333333,24.580786026200872,85.75,24.580786026200872C87.16666666666667,24.580786026200872,88.58333333333333,21.898471615720524,90,19.216157205240172"
                    stroke-dasharray="105.73902130126953" stroke-dashoffset="0"></path>
                <circle fill="#6c757d" r="2.5" cx="90" cy="19.216157205240172" style="opacity: 1;"></circle>
            </svg></div></div>
        </div>
   
    </div>
      {{else}}
    <div class="Layout">
        Data is unavailable.
    </div>
  {{/if}}

</div>
