<style>
    .container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box {
        border: 1px solid #140e0e;
        border-radius: 4px;
        padding: 0;
        margin: 0;

    }

    /* background-color: #808080;
    }*/

    .boxin {
        overflow: hidden;
        border-bottom: 1px solid #24191988;
        padding: 0;
        margin: auto;
    }
</style>
<div class="container text-center">
    <h1 class="text-center">Profile</h1>



    <div class="container-fluid p-0" style="display: block; width:100%;   border-radius: 4px;border: 1px #ddd    position: relative;">

        <div style="text-align:left; font-size: large;">
            </div<br>
            <ul class="box">
                {{#with profile}}
                <li class="boxin">
                    <form action="/profile/{{this._id}}/{{this.fisrtname}}/{{this.lastname}}" method="post">
                        <div class="row">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Name:</strong></div>
                                <div class="row">{{this.firstname}} {{this.lastname}}</div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="name" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.email}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>E-mail:</strong></div>
                                <div class="row">{{this.email}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="email" value="Edit">
                                </span>
                            </div>
                        </div>

                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.mobile}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Mobile No:</strong></div>
                                <div class="row">{{this.mobile}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="mobile" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.instaLink}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Instagram Link :</strong></div>
                                <div class="row">{{this.instaLink}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="instaLink" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.whatsappNo}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong> Whatsapp No:</strong></div>
                                <div class="row">{{this.whatsappNo}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="mobile" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.youtubeLink}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Youtube Link:</strong></div>
                                <div class="row">{{this.youtubeLink}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="mobile" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.facebookLink}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Facebook Link:</strong></div>
                                <div class="row">{{this.facebookLink}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="mobile" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="boxin">
                    <form action="/profile/{{this.location}}" method="post">
                        <div class="row" style="">
                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Location:</strong></div>
                                <div class="row">{{this.location}} </div>
                            </div>
                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <input class="btn btn-grey" type="submit" name="mobile" value="Edit">
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                {{/with}}
                {{#each addr}}
                <li class="boxin" style="border-bottom:none;">
                    <form action="/profile/updateAddress/{{@index}}" method="get">

                        <div class="row" style="">


                            <div class="col-9 p-3 pl-5 m-0">
                                <div class="row"><strong>Address:</strong></div>

                                <div class="row"><input type="radio" value="{{@index}}">
                                    {{this.name}}<br>{{this.address}},{{this.city}},{{this.state}},{{this.zip}}<br>{{this.mobile}}
                                    <hr>
                                </div>


                            </div>


                            <div class="col-3 m-auto" style="padding-right: 2rem;padding-left: 0;">
                                <span>
                                    <button class="btn btn-grey" type="submit">Edit</button>
                                </span>
                                <span><a href="/addAddress" class="btn btn-grey bg-white" type="submit"
                                        name="addAddress">Add Address</a>
                                </span>
                            </div>

                        </div>
                    </form>
                </li>
                {{/each}}
            </ul>
        </div>


    </div>